$sidenav-max-width: 54px;
$sidenav-max-width-with-hover: 300px;

uab-sidenav{
  display: block;
  md-sidenav{
    height: 100%;
    width: $sidenav-max-width-with-hover;
    overflow-y: auto;
    overflow-x: hidden;
    &.laptop{
      width: $sidenav-max-width;
      transition: all ease-in-out 0.3s;
      padding-top: 64px;
      md-content{        
        width: $sidenav-max-width-with-hover;
      }
      &:hover{      
        width: $sidenav-max-width-with-hover;
      }
    }
    md-content{      
      overflow-y: auto;
      overflow-x: hidden;
    }
    ul.navigation{
      width: 100%;
      margin: 0px;
      padding: 0px;
      li{
        width: 100%;
        > .md-button {
          display: flex;
          text-align: left;
          width: 100%;
          border: 0px;
          margin: 0px;
          padding: 8px;
          line-height: 1.70;
          font-size: 12pt;
          white-space: normal;
          text-transform: none;
          &.active{
            font-weight: bold;
          }
          md-icon{
            font-size: 24px !important;
            margin-right: 24px;
          }
          .navigation-title{
            flex: 1;
          }
        }
      }
    }
    .navigation-header{
      font-size: 1.5rem;
      margin: 16px 4px;
      padding-bottom: 16px;
      border-bottom: 1px solid #ddd;
    }
  }
}

body.hc > #root{
  uab-sidenav{  
    md-sidenav md-content{
      color: $text-color;
    }
    .md-button{
      color: $text-color;
    }
  }
}